html{
	border:1px solid yellow;
	background-color:red;
}
/*wcf/test/styles.scss*/
body {
  background-color: lightgray;
  color: black;
  div {
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }
}
